.menuBlock {
    /* background: url("../../assets/images/Maroonbells.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  */
    background-color: rgb(230, 253, 250);
    /* opacity: 0.7; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: black;
    font-size: large;
    font-family: "Didact Gothic", sans-serif;

}

.wrapper {
       
    background-color: #bec3d6;
    color: white;
    /* background-color: rgba(0,0,0,0.2); */
    text-align: center;
    min-height: 500px;
 
}

.team {
    display: flex;
}

.headline {
    text-align: center;
    color: orange;
}

.title {
    text-align: center
}

