

.Wrapper {
    display: flex;
    margin: 1rem 1rem 0 1rem;
    font-family: "Didact Gothic", sans-serif;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}



.treatmentItem {
    font-size: large;
    font-weight: bold;
    margin: 0 5rem 0 5rem;

}

.Treatment {
    padding: 0.5rem;
   
}

.Title {
    color: black;
    text-align: center

}

.Description {
    color: gray;
}

