.Team {
   


}

.Title {
        font-size: 5rem;
        z-index: 99;
}

.Banner {
        text-align: center;
        background: url("../../assets/images/forest.jpg");
        width: 100%;
        height: 300px;
        padding-top: 3rem;
        margin: 0;
        z-index: 1;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
}
