.button {
    width: 50%;
    
    background-color: rgb(230, 253, 250);
    font-family: "Didact Gothic", sans-serif;
    color: black;
    padding: 12px 20px;
    margin: 8px 26px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;


  }
  
  .button:hover {
    background-color: lightskyblue;

 
  }
  @media (max-width: 795px){
    .button {
      width: 90%;
      
     
    }
  }

