.button {
    width: 50%;
    background-color: #4054a5;

    color: white;
    padding: 12px 20px;
    margin: 8px 26px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    


  }
  
  .button:hover {
    background-color: #6a83e6;

 
  }

