.scheduleBlock {
    background: url("../../assets/images/yellowfield.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    width: 100%;
    /* background-color: rgba(0,0,0,0.2); */
    height: auto;
    min-height: 500px;
    display: flex;
    font-family: "Didact Gothic", sans-serif;
 
}


.textBlock {
    width: 50%;
    background-color: rgba(0,0,0,0.4);
    padding: 3rem 3rem;
}

.description {
    text-align: left;
}


.title {
    text-align: center;
}

.scheduleButton {
    text-align: center;
}

@media (max-width: 1024px) {
    .textBlock {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
      
  
    }
    .scheduleButton {
        width: 100%;
    }
}