
.contactBlock {
    background: url("../../assets/images/balancesmall.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    width: 100%;
    /* background-color: rgba(0,0,0,0.2); */
    text-align: center;
    height: auto;
    display: flex;
    font-family: "Didact Gothic", sans-serif;

 
    
}

/* img {
    height: 300px;
    width: auto;
} */

.textBlock {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 3rem 3rem;
    font-family: "Didact Gothic", sans-serif;

  

}
