.Icon {
    height: 150px;
    margin: 2rem;

}

.items {
  text-align: center;
  width: auto;
 

}


@media(max-width: 795px){
  .Icon {
    margin: 1rem;
  }
  .title {
    padding: 0;
  }
}

@media(max-width: 568px){
  .Icon {
    height: 100px;
   

}
}


