.Quote {
    color: white;
    text-align: center;
    font-size: x-large;
    font-family: "Didact Gothic", sans-serif;


}

.Wrapper {
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.3;
    font-family: "Didact Gothic", sans-serif;
    min-height: 20rem;


}

.Patient {
    color: white;
    text-align: center;
    font-size: medium;
    font-family: "Didact Gothic", sans-serif;

}

.Title {
    color: lightskyblue;
    font-size: xx-large;

}