/* 
   

    .info, ul {
        list-style-type: none;
        text-align: left;
       
    }

    h3 {
        text-align: left;
        font-size: x-large;
        margin-top: 0;
    }
    h1 {
        font-size: xx-large;
       
    }

    .wrapper {
        background-color: #286933;
        margin: 0 auto;
        text-align: center;
        color: white;
    }
    
   

    .info{
        width: 300px;
    }


    .picture, img {
        max-height: 500px;
        align-self: center;
        border-radius: 4px;


    } */
    .wrapper {
        background: url("../../assets/images/mountains.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
        width: 100%;
        /* background-color: rgba(0,0,0,0.2); */
        text-align: center;
        height: auto;
        display: flex;
   
     
        
    }
    .empty {
        width: 50%;
    }


    .visit {
        background-color: #286933;
        padding: 1rem;
        width: 50%;
        text-align: center;
        
    }
    .hours {
        list-style-type: none;
        text-align: center;
       
    }

    .hoursTitle {
  
        font-size: x-large;
        margin-top: 0;
    }
  
    
    /* img {
        height: 300px;
        width: auto;
    } */
    
    .textBlock {
        width: 90%;
        background-color: rgba(0,0,0,0.4);
        padding: 3rem 3rem;
       
        
    
    }
    
    .iframe {
        width: 600px;
        height: 450px;
        border: 0;
    }