
    .visit {
        background-color: #286933;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
    }

    .info, ul {
        list-style-type: none;
        text-align: left;
       
    }

    h3 {
        text-align: left;
        font-size: x-large;
        margin-top: 0;
    }
    h1 {
        font-size: xx-large;
       
    }

    .wrapper {
        background-color: #286933;
        margin: 0 auto;
        text-align: center;
        color: white;
    }
    
    .map {
     
        width: 400px;
    }

    .info{
        width: 300px;
    }

