
.testimonials {
    background: url("../../assets/images/yogapier.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    text-align: center;
    min-height: 500px;
    padding-top: 1rem;
    


}

.Title {
    font-size: -webkit-xxx-large;
    color: #286933;
}

.Carousel {
    padding: 2rem;
}