.Title {
    font-size: 1.5rem;
    z-index: 99;
    font-family: "Didact Gothic", sans-serif;
}

.Info {
    color: gray;
}
.Space {
    height: 100px;
}



.Banner {
    text-align: center;
    background: url("../../assets/images/mountains.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding-top: 3rem;
    margin: 0;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Didact Gothic", sans-serif;
}

.Wrapper {

    margin: 1rem 1rem 0 1rem;
    font-family: "Didact Gothic", sans-serif;
}

.Section {
    display: flex;
    padding: 2rem;
    margin: 2rem 2rem;
    justify-content: space-between;
}
.Pain {
    height: 20rem;
}

